<table id="ranking">
<tbody>
    <%= for cat <- @cats_ranked do %>
        <tr id="cat_<%=cat.cat.id%>">
            <td class="cat-in-table right-stats">
                <span class="helper"></span><img src="<%=cat.cat.url%>">
            </td>
            <td class="cat-vote-in-table right-stats" id="cat_votes_<%=cat.cat.id%>">
                <%=cat.vote_count%>
            </td>
            <td class="cat-bar-in-table" style="background: linear-gradient(to right, #111 <%=cat.vote_to_percent%>%, #eee <%=cat.vote_to_percent%>%)"></td>
        </tr>
    <%end%>
</tbody>
</table>