<h2>All the <%=@pair_count%> cat pairs!</h2>

<table>
    <%= for pair <- @all_pairs do %>
        <tr>
            <td class="cat-in-table left-stats">
                <span class="helper"></span><img src="<%=pair.pair.cat_one.url%>">
            </td>
            <td class="cat-vote-in-table left-stats">
                <%=pair.cat_one_votes%>
            </td>
            <td style="background: linear-gradient(to right, #eee <%=pair.cat_one_percent%>%, #111 <%=pair.cat_one_percent%>%)"></td>
            <td class="cat-vote-in-table right-stats">
                <%=pair.cat_two_votes%>
            </td>
            <td class="cat-in-table right-stats">
                <span class="helper"></span><img src="<%=pair.pair.cat_two.url%>">
            </td>
        </td>
    <%end%>
</table>