<h2>Vote for the cuter!</h2>

<div id="vote">
    <div id="left">
        <%= link to: Routes.vote_path(@conn, :vote, @cat1.id, @cat2.id), method: :post do %>
            <span class="helper"></span><img src="<%=@cat1.url%>">
        <% end %>
    </div>
    <div id="right">
        <%= link to: Routes.vote_path(@conn, :vote, @cat2.id, @cat1.id), method: :post do %>
            <span class="helper"></span><img src="<%=@cat2.url%>">
        <% end %>
    </div>
</div>