<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NeoKitten</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><%= link "Vote", to: Routes.vote_path(@conn, :index)%></li>
            <li><%= link "Stats", to: Routes.stats_path(@conn, :index)%></li>
            <li><%= link "Cutest", to: Routes.ranking_path(@conn, :cutest)%></li>
            <li><%= link "Latest", to: Routes.ranking_path(@conn, :latest)%></li>
            <li><%= link "Reset", to: Routes.reset_path(@conn, :index), class: "reset"%></li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
